.navbar {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  padding-top: 20px;
  justify-content: center;
}

.logout-button {
  margin-right: 30px;
}

.profile-button,
.feed-button,
.logout-button {
  background-color: #3eb489;
  color: white;
  transition-duration: 0.4s;
  font-size: 18px;
  padding: 10px 10px;
  /* padding: 12px 28px; */
  border-radius: 20px;
  margin-left: 10px;
  border: solid white;
}

.profile-button:hover,
.feed-button:hover,
.logout-button:hover {
  background-color: #3eb489;
  color: white;
  font-size: 22px;
  padding: 12px 20px;
}
